body {
    background: #f7f7f7;
}
body p {
    font-size: 15px;
}

.bg-primary {
    background-color: #ffffff !important;
}

header {
    margin-bottom: 30px;
}

.navbar .bg-inverse {
    background: #000000;
}