/* TODO place in right bootstrap files etc */

.bg-primary {
    background: #9f0307 !important;
}


.bg-secondary {
    background: #c5ecbe !important;
}

.text-secondary,
.text-secondary a
{
    color: #c5ecbe !important;
}


body {
    background: #f7f7f7;
}
body p {
    font-size: 15px;
}

header {
    margin-bottom: 30px;
}

.navbar .bg-inverse {
    background: #000000;
}